// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


//
$white: #ffffff !default;
$primary: #8bc8b8 !default;
$secondary: #dd5545 !default;
$tertiary: #f2d452 !default;
$light: #cdefe6 !default;
$dark: #f1a66f !default;
$gray: #e5e5e5 !default;
$black: #000000 !default;

$letra1: #983321 !default;
$letra2: #b5b5b5 !default;

$ease: all 0.3s ease-in-out;
